<header>
    <div class="container">
        <div class="intro">
            <p class="intro__pre">Hello</p>
            <p class="intro__main">My name is <span style="color: rgb(16, 33, 143)">{{ site.name }}</span>, a data scientist turned <span style="color: rgb(16, 33, 143)">product manager</span> who is passionate about <span style="color: rgb(16, 33, 143)">enterprise AI</span> and machine learning</span></p>
            <p class="intro__post">{{ site.location }}</p>
        </div>

        {{ if site.github_username or site.linkedin_username or site.twitter_username or site.quora_address }}
        <div class="social">
            {{ if site.github_username }}<a href="http://github.com/{{ site.github_username }}" target="_blank">GitHub</a>{{ endif }}
            {{ if site.linkedin_username }}<a href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a>{{ endif }}
            {{ if site.twitter_username }}<a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>{{ endif }}
            {{ if site.quora_address }}<a href="https://www.quora.com/profile/{{ site.quora_address }}" target="_blank">Quora</a>{{ endif }}
        </div>
        {{ endif }}

    </div>
</header>
